body {
	font-size: 1.1rem;
}

/* ANFANG SEITENBREITE AUF 1600 PX MAX. ERWEITERN */
.container-max {
	z-index: auto;
    	max-width: 1600px;
}
.header-container>.widget:not(.widget-grid) {
    	min-width: inherit;
    	max-width: 1600px;
}
/* ENDE SEITENBREITE AUF 1600 PX MAX. ERWEITERN */

.color-gray-700 {
    color: #6c757d !important;
}
.color-body-black {
    color: #212529 !important;
}
.footer .plenty-brand {
    height: 25px;
}
.h-100.widget-proportional.widget-prop-1-1{
	height: 100% !important;
}
#page-header .widget-inner .amikon_headerAdvantage {
    	padding: 8px 8px;
    	font-weight: 300;
    	text-align: center;
    	font-size: 1.1rem;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
#page-header .widget-inner .amikon_headerAdvantage {
    	font-size: .8rem;
}
}
#page-header .widget-inner .amikon_headerAdvantage .amikon_advantage {
    	display: inline-block;
}
#page-header .widget-inner .amikon_headerAdvantage .amikon_advantage span {
    	display: inline-block;
    	white-space: normal;
    	padding: 0 20px 0 5px;
}
#page-header .widget-fw .amikon_headerAdvantage .amikon_advantage span a {
    	color: #fff;
}
@media (max-width: 575.98px){
.amikon_headerAdvantage {
    	display: none;
}
}
#page-body .parallax-img-container .parallax-img-container-inner {
	background-image: none !important;
}
.search-input {
    	font-size: 1.2rem;
		border-radius: .5rem;
}
.widget-text.widget {
    	margin-bottom: 2rem;
}
/* Artikelansicht Slider Punkte auf Mobilansicht ausblenden */
@media (max-width: 575.01px){
.owl-theme .owl-dots {
    	display: none !important;
}
.widget-image-carousel .widget-inner .carousel-item {
    	width: 100%;
    	height: 120%;
}
.carousel-item .textwrapper .hometitle2 {
    	font-size: 1.5rem !important;
}
.widget-image-carousel.widget-primary .carousel-control .fa {
    	display: none;
}
}
/* Mobile Navigation einfärben */
.mobile-navigation {
	background: #fff;
	color: #212529;
	text-transform: uppercase;
}
.mobile-navigation .breadcrumb {
    	font-size: 1em;
    	background: #eee;
}

@media (min-width: 992px){
	.main-navbar-collapsable ul.mainmenu > li > a {
    	padding: 1rem 1rem;
    	width: 100%;
    	color: #212529;
}
}
a.navbar-brand.py-2 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.main-navbar-collapsable {
    font-size: 1.1rem;
}
.main-navbar-collapsable li {
    display: flex;
    align-items: center;
}
.main-navbar-collapsable .ddown>a::after {
    line-height: 1;
}
.main-navbar-collapsable .collapse-inner li:hover {
    background: #392f6e;
}
.megamenu .collapse {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	border-radius: 0 0 .5rem .5rem;
	top: 100%;
}
.megamenu .level1 a {
    font-weight: 600;
    color: #212529 !important;
}
.megamenu .level1:hover a {
    color: #fff !important;
}
.main-navbar-collapsable ul.mainmenu a {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2rem;
}
.sidebar-categories ul li a[href], .widget-navigation-tree ul li a[href] {
    font-size: 1.1rem;
}
.sidebar-categories .category-title {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.sidebar-categories {
    border-radius: .5rem;
}
/*ggf. wieder hier alten Falldown Content einfügen*/
.widget-image-carousel {
    	box-shadow: 0 0 0 rgba(0,0,0,0.0);
    	-o-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
    	-webkit-transition: all .2s ease-in-out;
    	transition: all .2s ease-in-out;
}
.navbar-brand img {
    	max-height: 6rem;
}
.top-bar {
    	color: #fff;
    	background-color: #fff;
}
@media (max-width: 575.98px;){
.top-bar {
	border-top: 4px solid #392F6E;
}
}
.top-bar .controls-list>li a:not(.btn) {
    	display: inline-block;
    	color: #212529;
}
.top-bar .controls-list .dropdown a[aria-expanded=true] {
    	background-color: #392f6e;
    	color: #fff;
}
.top-bar .controls-list .dropdown a[aria-expanded=true]:hover {
    	background-color: #26204a;
    	color: #fff;
}
.controls-list .list-inline-item {
    	margin-right: 0;
    	font-size: 1.1rem;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
.controls-list .list-inline-item {
    	margin-right: 0;
    	font-size: .9rem;
}
}
.controls-list .nav-link[aria-expanded=true] {
    	background: #392f6e;
	color: #fff !important;
}
.control-user .dropdown .dropdown-menu a {
    	color: #fff !important;
    	background-color: #392f6e;
}
.controls-list .control-user .dropdown-menu.small.m-0.p-0.mw-100.show {
    	will-change: auto !important;
}
.top-bar .controls-list>li a:not(.btn):hover {
	color: #fff;
    	background-color: #26204a;
}
.top-bar .list-inline .list-inline-item #login-change a span {
    	display: inline-block;
    	margin-left: 0.5em;
}
.top-bar .controls-list .control-basket .toggle-basket-preview {
    	background-color: #fff;
    	color: #212529;
    	font-weight: 600;
}
.top-bar .controls-list .control-basket .toggle-basket-preview:hover {
    	background-color: #26204a;
}
.search-submit {
    	background-color: #eee;
		border-radius: .5rem;
}
.input-unit {
    	border-radius: .5rem;
}
.btn {
		border-radius: .5rem;
}
.always-visible-search .container-max .position-relative {
    	-webkit-box-shadow: 0px 0px 0px 0.3px rgba(0,0,0,0.16), 0 0 0 0px rgba(0,0,0,0.08);
    	box-shadow: 0 0 0 1.2px rgba(0,0,0,0.1), 0 0 0 1.2px rgba(0,0,0,0.08);
		-moz-box-shadow: 0 0 0 1.2px rgba(0,0,0,0.1), 0 0 0 1.2px rgba(0,0,0,0.08);
		-o-box-shadow: 0 0 0 0.3px rgba(0,0,0,0.16), 0 0 0 0px rgba(0,0,0,0.08);
		-ms-box-shadow: 0 0 0 0.3px rgba(0,0,0,0.16), 0 0 0 0px rgba(0,0,0,0.08);
    	position: relative;
    	max-width: 850px;
		border-radius: .5rem;
}
.navbar {
	background-color: #fff;
}
.breadcrumbs{
	background-color: rgb(247,247,249);
}
.list-controls .list-controls-inner {
    	background: rgb(247,247,249);
}
.pipe {
    	border-left: 1px solid #b2b1a7;
    	margin: 0 .45em 0 .25em;
}
@media (max-width: 575.98px){
.top-bar .controls-list .pipe {
    	margin: 0 0.3em 0 0;
}
}
.background-breadcrumb{
	background-color: #efefef;
}
#page-header-parent .breadcrumbs ul.breadcrumb{
	background-color: transparent;
}
.widget-image-carousel.widget-proportional {
    	margin-top: 2em;
}
.widget-image-carousel.second-slide {
	margin-top: 0 !important;
	height: 100%;
	width: 100%;
}
/*ggf. Klasse Startseite hinzufügen*/
.widget-primary .bg-appearance a {
    	color: #212529 !important;
    	margin-left: .5rem;
    	font-size: 1.2rem;
}
.widget-two-col .widget-inner .widget-text .startseitenbox1 .col-lg-6 {
    	max-width: 100%;
    	padding-left: 0px;
    	padding-right: 0px;
}
@media (min-width: 768px) {
    .col-md-20percent {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
.single .widget-item-list .widget-caption {
    	padding: .25rem 1.5rem;
}
.startseite .widget-item-list-inline-caption p {
    	padding-top: .6rem;
    	padding-bottom: .4rem;
    	font-size: 1.75rem;
	margin: 0;
	font-weight: 500;
	line-height: 1.1;
}
.startseite .widget-item-list-inline-caption h1 {
    	border-left: 4px solid #392F6E;
    	padding-left: 8px;
}
.widget-item-list-caption h2 {
    	border-left: 4px solid #392F6E;
    	padding-left: 8px;
}
/*ggf. Klasse Startseite hinzufügen*/
.widget-primary .bg-appearance {
    	color: #212529 !important;
    	background-color: transparent !important;
}
.startslide-2k23 .widget-inner {
  	padding: 1rem 1.5rem;
    	padding-right: 1.5rem;
    	padding-left: 1.5rem;
}
.startslide-2k23 .bg-appearance {
	background-color: transparent !important;
}
@media screen and (min-width: 768px) and (max-width: 900px)
{
.widget-grid .widget-image-box-fullwidth .widget-inner .widget-caption h2 {
    font-size: 1.5rem;
}
}
.widget-image-box img.img-cover {
    border-radius: .5rem;
}
body {
	background-color: #fff;
}
body #vue-app, #vue-error {
	background-color: #fff;
}
.home.container-max {
    	padding-top: 35px;
}
#page-body{
	background-color: rgb(247,247,249);
	padding-bottom: 1em;
}
.page-content {
    	padding-top: 1rem;
    	max-width: 1600px;
}
.categoriegrid.page-content.container-max {
		padding-top: 0 !important;
}
.page-content.basket, .page-content.checkout, .page-content.contact, .page-content.wishlist, .page-content.myaccount {
    	color: #282d2f;
    	margin-top: 0;
    	padding-bottom: 30px;
}
.page-content.myaccount {
	margin-top: 0 !important;
}
.cmp-product-thumb {
    border-radius: .5rem;
}
.cmp-product-thumb .add-to-basket-lg-container {
	border-color: transparent #575a59 transparent transparent;
}
.cmp-product-thumb .add-to-basket-lg-container > i {
	color: #fff;
}

.cmp-product-thumb .thumb-title {
	min-height: 8vh;
	color: #212529;
	font-size: 1.2rem;
}
@media (max-width: 413.98px){
.cmp-product-thumb .thumb-title {
	hyphens: auto;
	font-size: 1.1rem;
}
}
@media and (min-width: 576px) and (max-width: 767.98px){
.cmp-product-thumb .thumb-title {
	min-height: 7vh;
}
}
.input-unit label, .input-unit .input-unit-label {
    letter-spacing: .8px;
}
.qty-box .qty-input {
    border-radius: .5rem 0 0 .5rem;
}
.qty-btn-container .qty-btn {
    border-radius: 0 .5rem 0 0;
}
.qty-btn-container .qty-btn+.qty-btn {
    border-radius: 0 0 .5rem 0;
}

/*Footer Formatierung*/
@media (max-width: 575.98px) and (orientation: portrait){
.ftr-mbl-center {
	text-align: center;
}
}
.mbot2rem {
	margin-bottom: 2rem !important;
}
.footer .trust--columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.block-group {
	zoom: 1;
	list-style-type: none;
	padding: 0;
	margin: 0;
        margin-top: 0px;
        margin-bottom: 0px;
}
.footer .trust--column {
	width: 100%;
	flex: 0 0 100%;
	padding: 0rem .625rem 0rem .625rem;
}
@media screen and (min-width: 576px) and (max-width: 1199.9px)
{
.footer .trust--column {
	width: 49%;
	flex: 0 0 49%;
	padding: 0rem .625rem 0rem .625rem;
}
}
@media screen and (min-width: 1200px)
{
.footer .trust--column {
	width: 24.5%;
	flex: 0 0 24.5%;
}
}
.footer .trust--columns i {
	font-size: 1.1rem;
	color: #392F6E;
}
.footer .trust--columns span {
	font-weight: 600;
	font-size: 1.1rem;
}
.footer .trust--columns p {
	font-size: 100%;
}
.footer .text--center {
	text-align: center !important;
}

@media (max-width: 767.98px){
.widget.widget-text .gmapswidget{
	margin-top: 1rem;
}
}
.footer {
	display: block;
	background-color: #fff;
	margin-top: 2rem;
}
.footer .widget-grid .widget-inner .widget-list {
	color: #FFF;
	background-color: #392F6E;
	height: 100%;
}

.footer .widget-grid .widget-inner .widget-list .widget-inner a{
	color: #FFF;
}

.footer .widget-grid .widget-inner .widget-list .widget-inner {
	padding: 1rem;
}
@media (max-width: 767.98px){
.footer .widget-grid .widget-inner:not(:last-child) .widget-list .widget-inner {
	padding-bottom: 0;
}
}
/*Footer Formatierung ENDE*/
/*Startseite Inhalt*/

.startseite.starttextshadow p {
    font-size: 1.4rem;
}
.startseite.cat-top .widget-caption.widget-image-box-caption.fullwidth {
    color: #fff;
    background-color: rgba(244, 244, 246, .0);
}
.startseite .widget-caption.widget-image-box-caption.fullwidth
{
    color: #fff;
    background-color: rgba(154,150,174,.5);
	text-shadow: 0 0 5px #000;
}
.startseite .widget-caption.widget-image-box-caption.fullwidth:hover {
    color: #fff;
    background-color: rgba(57,47,110,.5);
}
@media screen and (min-width: 465px) and (max-width: 575.5px) {
    .willkommensbanner .widget-image-box-caption.fullwidth h1 {
        font-size: 3rem;
    }
}
@media screen and (min-width: 350px) and (max-width: 464.5px) {
    .willkommensbanner .widget-image-box-caption.fullwidth h1 {
        font-size: 2.4rem;
    }
}
.startseite .widget-image-box.widget-primary a[href].widget-inner:hover .widget-caption {
    color: #fff;
    background-color: rgba(57,47,110,.5);
}
.startseite.cat-top.widget-image-box.widget-primary .widget-caption {
    color: #212529;
    background-color: #fff;
    max-width: 100%;
}
.startseite.cat-top.widget-image-box>.widget-inner .widget-caption h2 {
    font-size: 1.1rem;
    font-weight: 600;
}
.startseite.cat-top img.img-cover {
    filter: saturate(0.5);
	-webkit-filter: saturate(0.5);
	-moz-filter: saturate(0.5);
	-o-filter: saturate(0.5);
	-ms-filter: saturate(0.5);
}
.startseite.cat-top:hover img.img-cover {
    filter: saturate(0.8);
	-webkit-filter: saturate(0.8);
	-moz-filter: saturate(0.8);
	-o-filter: saturate(0.8);
	-ms-filter: saturate(0.8);
}
.startseite.cat-top.widget-image-box.widget-primary a[href].widget-inner:hover .widget-caption {
	color: #212529;
	background-color: #fff;
}
.willkommensbanner .widget-inner .widget-image-box-caption.fullwidth {
    	color: #fff;
	background-color: rgba(57, 47, 110, .0);
}
.willkommensbanner a[href].widget-inner:hover .widget-image-box-caption.fullwidth {
    	color: #fff;
    	background-color: rgba(57, 47, 110, .0);
}
.willkommenstext {
	font-size: 1.3rem;
	text-align: justify;
}
@media screen and (min-width: 768px) and (max-width: 1023.5px) {
    .willkommenstext {
	font-size: clamp(1.1rem, 1.1rem + ((1vw - 0.48rem) * 1.25), 1.3rem);
	text-align: justify;
}
}
.startseite .carousel .carousel-item img {
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	border-radius: .5rem;
}
.title {
	padding-left: 8px;
	border-left: 4px solid #392F6E;
	font-size: 2.5rem;
	letter-spacing: 1.25px;
	display: block;
	word-break: break-word;
}
.filter-collapse .card-columns .title {
	padding-left: 0px;
	border-left: 0px;
	font-size: 1.5rem;
	text-decoration: underline;
}
@media (max-width:1025px){
.single .row .col-12 .sticky-element .title{
	padding-left: 8px;
	border-left: 4px solid #392F6E;
	font-size: 2.2rem;
	letter-spacing: normal;
	display: block;
}
}

/*ALTEN INHALT HIER EINFÜGEN BEI FEHLFUNKTION*/
.contentboxwrapper .logowrapper {
    	display: block;
    	width: 100%;
    	overflow: visible;
}
.contentboxwrapper .logowrapper img {
    	max-width: 100%;
    	left: 0;
    	top: 0;
    	position: relative;
    	-webkit-filter: grayscale(100%);
    	filter: grayscale(100%);
    	-o-transition: all .3s ease;
	-moz-transition: all .3s ease;
    	-webkit-transition: all .3s ease;
    	transition: all .3s ease;
		border-radius: .5rem;
}

.starttextshadow {
	text-shadow: 0 0 3px #000;
}

/* Startseite Inhalt ENDE */

/* KATEGORIEANSICHT Artikelpreis sowie Informationen ausblenden, Kacheldesign, Filter */

.owl-carousel .owl-stage {
	display: flex;
}
.owl-carousel .owl-item {
	display: flex;
	flex: 1 0 auto;
}
/*@media (min-width: 1550px){
.categoriegrid.page-content.container-max {
	padding-left: 0px;
    	padding-right: 0px;
}
}*/
.sidebar-categories ul li.active>a, .widget-navigation-tree ul li.active>a {
    	background: #eee;
}

.categoriegrid .btn-link {
	color: #212529;
	font-weight: 600;
}
.thumb-content .thumb-meta .prices {
	display: none;
}
.thumb-content .category-unit-price {
	display: none;
}
.thumb-content .vat {
	display: none;
}
.badge {
	white-space: inherit;
}
.availability_1 {
    	background-color: #28a745;
    	color: #fff;
}
.thumb-content .availability_1 {
    	background-color: #28a745;
    	color: #fff;
	font-weight: 400;
	font-size: 1rem;
	width: 100%;
}
.availability_5 {
    	background-color: #dc3545;
    	color: #fff;
}
.thumb-content .availability_5 {
    	background-color: #dc3545;
    	color: #fff;
	font-weight: 600;
	font-size: 1rem;
	width: 100%;
}
.widget-availability span.availability.badge.availability-5 {
	background-color: #dc3545;
    	color: #fff;
    	font-size: 150%;
    	display: inherit;
}

/* KATEGORIEANSICHT Artikelpreis sowie Informationen ausblenden ENDE */

/* Artikelansicht */

/*Startseite Beschriftung Kategoriebilder*/
@media screen and (min-width: 768px) and (max-width: 1300px){
.startseite.widget-image-box .widget-inner .widget-caption h2, .startseite.widget-image-box .widget-inner .widget-caption .h2 {
    margin: 0;
    font-size: clamp(.8rem, 1.4vw, 1.75rem);
    overflow-wrap: normal;
    word-break: normal;
}
}
@media screen and (max-width: 767.5px){
.startseite.widget-image-box .widget-inner .widget-caption h2, .startseite.widget-image-box .widget-inner .widget-caption .h2 {
    margin: 0;
    font-size: clamp(1.5rem, 1.5rem + ((1vw - 0.2rem) * 9.823), 4rem);
    overflow-wrap: normal;
    word-break: normal;
}
}
@media screen and (max-width: 1150px){
.widget-image-box .widget-inner .widget-caption {
    word-break: normal;
}
}
@media screen and (min-width: 900px) and (max-width: 1099px){
.widget-image-box.widget-image-box-inline-caption .widget-inner .widget-caption {
    padding: 0 0.5rem;
}
}
@media screen and (min-width: 768px) and (max-width: 899px){
.widget-image-box.widget-image-box-inline-caption .widget-inner .widget-caption {
    padding: 0 0.3rem;
}
}
@media screen and (min-width: 900px) and (max-width: 1023.5px){
.startseite.cat-top.widget-image-box .widget-inner {
    padding: 1.3rem;
}
}
@media screen and (min-width: 768px) and (max-width: 899.5px){
.startseite.cat-top.widget-image-box .widget-inner {
    padding: 1rem;
}
}
.widget-item-price .base-price {
	display: none;
}
.add-to-basket-container button.btn.btn-block.btn-primary.btn-appearance {
    font-size: 1.5rem;
}
.singlearticlebackground .widget-inner {
    padding-bottom: .3rem;
}
.singlearticlebackground .widget-contact-form {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}
.singlearticlebackground .tab-content {
	background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
.singlearticlebackground .tab-content hr {
    margin-right: 1rem;
    margin-left: 1rem;
}
.singlearticlebackground h5, .h5 {
    font-size: 1.2rem;
}
@media (min-width: 768px) {
.single .nav-tabs .nav-link {
        border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 0;
	font-size: 1.1rem;
}
.nav-tabs {
    border-bottom: 0;
}
}
.single .nav-tabs .nav-item, .page-singleitem .nav-tabs .nav-item {
    background: #fff;
}
.single .nav-tabs .nav-link.active, .single .nav-tabs .nav-link:hover, .page-singleitem .nav-tabs .nav-link.active, .page-singleitem .nav-tabs .nav-link:hover {
    background: #eee;
}
.single .single-carousel, .page-singleitem .single-carousel {
    background: none;
}
.owl-thumbs .owl-thumb {
    background: none;
}
.widget-text.articlenumber, .widget-code.articlenumber {
    font-size: 1.2rem;
}
.services-payment p.mb-0 {
    font-size: 1.2rem;
}

/* Artikelansicht ENDE */

.verszahlbild {
    float: left;
    margin-right: 10px;
}
@media screen and (min-width: 767px) and (max-width: 1023px){
.verszahlbild{
	width: 50%;
}
.verszahlbildtext{
	width: 50%;
}
}
@media screen and (max-width: 520px){
.verszahlbild{
	float: none;
	margin-right: 0px;
	width: auto;
}
}
.verszahlbild img {
	width: 100%;
	border-radius: .5rem;
}
.wahlversand {
	padding: 5px; 
	background-color: #f4f4f4; 
	width:100%;
	display:flex;
	margin-bottom:1rem;
}
@media screen and (max-width: 767px){
.wahlversand {
	display:grid;
}
}
.modal-content
{
		border-radius: .5rem;
}
.form-control {
		border-radius: .5rem;
}
.input-group>.form-control:not(:last-child) {
		border-top-right-radius: .5rem;
    	border-bottom-right-radius: .5rem;
}
#CfourContainerPopupModal .modal-content .modal-body button.close {
	display: none;
}
#CfourContainerPopupCompany {
	display: none;
}

/* Paypal Button Desktop / Tablet */
.widget-add-to-basket .paypalSmartButtons {
  width: calc(100% - 61px) !important;
  margin-left: 66px !important;
  
  
/* Paypal Button Smartphone */
@media screen and (max-width: 767px) {
    .widget-add-to-basket .paypalSmartButtons {
        width: 100% !important;
        margin-left: -10px !important;
		margin-top: 10px;
    }
}
